/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2014, 9:49:51 PM
    Author     : Developer
*/

/* CSS for icons inside input text box */


/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);*/

body{
    font-family: Open Sans,sans-serif;
    padding-bottom: 80px;
}
h1,h2,h3,h4,h5{
    font-weight: 600 !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}


body > .container {
    padding: 60px 15px 0;
}


/*Common CLasses*/
.bold{
    font-weight: bold !important;
}

.font-open-sans{
    font-family: Open Sans,sans-serif;
}
.navbar-brand img{
    max-width: 100px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    font-size: 17px;
    min-height: 45px;
    border: 1px solid  #d2d2d2;
    padding-left: 50px;
    border-radius: 0;
    margin-bottom: 15px;
}
.left-inner-addon input:focus {
    border-color: #004a80;
    box-shadow: none;
    padding-right: 40px;
}
.left-inner-addon input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.left-inner-addon input:focus:-moz-placeholder { /* Firefox 18- */
    opacity: 0;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.left-inner-addon input:focus::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.left-inner-addon input:focus:-ms-input-placeholder {  
    opacity: 0.5;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.focused{
    opacity: 0;
    /*display: none;*/
    color: #a0a3a6;
    cursor: text;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    right: -10px;
    text-transform: uppercase;
    top: 14px;
}
.form-group input:focus + label.focused {
    opacity: 1;
    /*display: block;*/
    right: 27px;
    font-weight: bold;
    -webkit-transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;
    -moz-transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;
    -o-transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;
    transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0s;
}
.left-inner-addon i {
    background: #004a80;
    color: #fff;
    font-size: 19px;
    min-width: 45px;
    padding: 13px;
    pointer-events: none;
    position: absolute;
}

.carousel-control.right,
.carousel-control.left{
    background: transparent;
    z-index: 22;
    width: 5%;
}

.carousel-caption h1{
    -vendor-animation-duration: 3s !important;
    -vendor-animation-delay: 3s !important;
    -vendor-animation-iteration-count: infinite;
}
.carousel-caption p{
    -vendor-animation-duration: 10s !important;
    -vendor-animation-delay: 10s !important;
    -vendor-animation-iteration-count: infinite;
}
.carousel-inner h1, .carousel-inner .btn{
    opacity :0;
}
.carousel-inner .first.active h1.z1{
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    /*   -webkit-transition-delay: 2s;  Safari 
        transition-delay: 2s;*/
    opacity : 1;
}
.carousel-inner .first.active h1.z2{
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    /*   -webkit-transition-delay: 3s;  Safari 
        transition-delay: 3s;*/
    opacity : 1;
}
.carousel-inner .first.active h1.z3{
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    /*   -webkit-transition-delay: 4s;  Safari 
        transition-delay: 4s;*/
    opacity : 1;
}
.carousel-inner .first.active h1{
    line-height: 6px !important;
}
.carousel-inner .second.active h1{
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    opacity : 1;
}
.carousel-inner .second.active p{
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    opacity : 1;
}

.carousel-inner .third.active h1{
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    opacity : 1;
}
.carousel-inner .third.active p{
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    opacity : 1;
}
.carousel-inner .fourth.active h1{
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    opacity : 1;
}
.carousel-inner .fourth.active p{
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    opacity : 1;
}
.carousel-inner .fifth.active h1{
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    opacity : 1;
}
.carousel-inner .fifth.active p{
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    opacity : 1;
}
.carousel-inner .active .btn{
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    opacity : 1;
}

.first .carousel-caption{
    left: 5%;
    padding-bottom: 30px;
    right: 50%;
    top: 25%;
}
.second .carousel-caption{
    left: 50%;
    padding-bottom: 30px;
    right: 5%;
    top: 25%;
}
.third .carousel-caption{
    left: 5%;
    padding-bottom: 30px;
    right: 50%;
    top: 25%;
}
.fourth .carousel-caption{
    left: 5%;
    padding-bottom: 30px;
    right: 30%;
    top: 25%;
}
.fifth .carousel-caption{
    left: 10%;
    padding-bottom: 10px;
    right: 10%;
    top: 30%;
}
.carousel-caption h1, .carousel-caption p{
    color: #333;
    margin-bottom: 0;
    padding: 20px;
}
.carousel-caption p span{
    text-shadow: none;
}
.third .carousel-caption h1, .third .carousel-caption p{
    color: #fff;
}
.carousel-caption h1{
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    margin-top:0;
}
.carousel-caption p span{
   /* background: none repeat scroll 0 0 #e83c3c;*/
    border-radius: 50%;
    font-size: 26px;
    padding: 12px;
    font-weight: bold;
}
.carousel-caption p .btn{
    margin-bottom: 15px;
    background:  #e83c3c;
    font-weight: bold;

}
.default-red{
    color: #e83c3c !important;
}
.default-blue{
    color: #1e689e !important
}
.default-white{
    color: #fff !important
}
.bg-gray{
    background: #F9F9FA;  
}
.bg-white{
    background: #ffffff;  
}
section{
    padding: 80px 20px;
}
p.para{
    color: #4b535a;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
}
.timing-wrapper p{
    margin-bottom: 0;
    /*text-align: center;*/
}
.timing-wrapper > p{
    color: #323a45;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
}
.mission-wrapper, .timing-wrapper, .cornea-wrapper{
    padding: 0;
}
.marketing p.para{
    min-height: 150px;
}
.breadcrumb-wrapper{
    background-color: #323A45;
    color: #FF3366;
    padding: 25px 0;
}
.breadcrumb-wrapper .breadcrumb{
    margin: 0;
}
.breadcrumb-wrapper .breadcrumb li a{
    color: #fff;
    font-weight: bold;
}
.btn-default{
    background: #e83c3c;
    color: #fff;
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(232,60,60,.5);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(232,60,60,.5) ; 
    box-shadow:inset 0px 0px 0px 3px rgba(232,60,60,.5);
}
.welcome-wrapper h1{
    margin-bottom: 0;
}
.our-team-wrapper h4{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 5px;
}
.our-team-wrapper ul li:first-child{
    margin-right: 25%;
}
.our-team-wrapper p.degree{
    color: #747c83;
    font-size: 12px;
    text-align: right;
}
.our-team-wrapper p{
    color: #747c83;
    font-size: 15px;
    margin-bottom: 5px;
    /*text-align: right;*/
}
.fa-hand-o-right{
    color: #EE960A;
}
ul.about{

    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    padding-top:10px;
    color: #00008B;
}

/*.appointment-wrapper h*/




.about li i{
    margin-right: 10px;
}
.error{
    color:#a94442;
    display:block;
}
.default-yellow{
    color:#FAA246;
}

.dark-bg-wrapper{
    position: relative;
    background: url("../images/ratina.png") no-repeat center center;
    height:500px;
    width:500px;
    border-radius: 50%;
}
.dark-bg-cornea-wrapper{
    position: relative;
    background: url("../images/cornea.jpg") no-repeat center center;
    height:500px;
    width:500px;
    border-radius: 50%;
}

.overlay{
    background: rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 10px outset red;
}
.navbar-nav li a{
    color:#fff !important;
    font-size:15px;
}
.navbar-nav li.active a, .navbar-nav li a:hover{
    color:#DE3C3C !important;
}
.panel-default{
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
}
.panel-default .panel-body{
    padding: 0;    
}
.login-wrapper{
    float: none;
    margin: 15% auto 0;
}
.login-wrapper h3{
    margin-bottom: 20px;
    margin-top: 15px;
}
.login-outer-wrapper{
    padding: 0;
    background-color: #F9F9FA;
}

/*
================================================================================================================================
**********************************************     MENU STYLE FOR THE SITE      **********************************************
================================================================================================================================
*/

.menu-wrapper{
    background: url("../images/doctor-bg.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    padding: 7em 0;
    min-height: 830px;
    position: relative
}
.menu-wrapper .new-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.menu-item {
    padding-bottom:100px;
    position: relative;
    width: 250px;
    z-index: 999;
    /*border: 8px outset royalblue;*/
}
.menu-img{
    border: 2px solid #fff;
    border-radius: 50%;
    height:250px;
    overflow: hidden;
    position: relative;
    width: 250px;
    z-index: 999;
}
.menu-item:before {
    background: none repeat scroll 0 0 #fff;
    border-radius: 100%;
    bottom: -15px;
    content: "";
    display: block;
    height: 0.65em;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 9px;
}
.menu-item:after {
    background: none repeat scroll 0 0 #fff;
    bottom:-10px;
    content: "";
    height: 110px;
    left: 50%;
    margin-left: -0.5px;
    position: absolute;
    width: 1px;
}
.menu-details h3,.menu-details p{
    color:#fff;
    z-index: 999;
    position: relative;
    font-weight: bold;
}
.menu-details h3{
    font-size: 30px;
    margin: 78px 0 34px;
}
.menu-details h3 span{
    font-size: 16px;
    display: block;
    margin-top:10px;
}
.menu-details p{
    font-size: 20px;
}
.menu-wrapper .button{
    color:#fff;
    z-index: 999;
    position: relative;
    font-weight: bold;
    margin:70px 0 0;
}

/*
================================================================================================================================
**********************************************     CONTACT STYLE FOR THE SITE      **********************************************
================================================================================================================================
*/
.contact-us-wrapper{
    padding: 40px 0;
    background:url("../images/appointment.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    position: relative;
    margin-top:40px
}

.contact-us-page{
   background:url("../images/contact_back.jpg") no-repeat center center !important; 
   background-size: 116% !important;
}
.contact-us-wrapper .new-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.contact-us-wrapper h2{
    color:#fff;
}

.contact-us-wrapper p{
    color:#fae093;
    margin-bottom: 40px;
    font-size: 22px;
}
.contact-us-wrapper input, .contact-us-wrapper select{
    line-height: 33px;
    margin-bottom: 10px
}
.contact-us-wrapper input[type="text"],
.contact-us-wrapper input[type="email"],
.contact-us-wrapper select,
.contact-us-wrapper textarea{
    background-color: rgba(255, 255, 255, 0.33);
    border: 0 none;
    color: #fff;
    min-height: 55px;
    font-size: 22px;
    padding:12px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.contact-us-wrapper select option{
    color: #004980;
}
.contact-us-wrapper select option:hover{
    background-color: transparent;
}
.contact-us-wrapper input:focus,.contact-us-wrapper textarea:focus,.contact-us-wrapper select:focus{
    box-shadow: none;
}
.contact-us-wrapper ::-webkit-input-placeholder{
    color: #fff;
    font-size: 22px;
}
.contact-us-wrapper :-moz-placeholder{ /* Firefox 18- */
    color: #fff;
    font-size: 22px;
}
.contact-us-wrapper ::-moz-placeholder{  /* Firefox 19+ */
    color: #fff;
    font-size: 22px;
}
.contact-us-wrapper :-ms-input-placeholder{  
    color: #fff; 
    font-size: 22px;
}
.contact-us-wrapper form button{  
    color:#fff;
    font-size: 20px;
    display: inline-block;
    padding: 15px 35px;
    letter-spacing: 1.5px;
    margin:20px 0;
    border:2px solid #fff;
    background-color: transparent;
    border-radius: 33px;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    float: right;
    font-weight: bold;
    transition: all 0.2s ease-in-out 0s;
}
.contact-us-wrapper form button:hover{  
    background-color: #e83c3c;
    transition: all 0.25s ease-in-out 0s;
}

.bxslider li {
    overflow: hidden
}
.bxslider li img{
    transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
}
.bxslider img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition: all 0.25s ease-in-out 0s;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
}
ul.image-gallery {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
ul.image-gallery li {     
    list-style:none;
    margin-bottom:25px;           
}
ul.image-gallery li img {
    cursor: pointer;
    border:7px ridge #004A80;
}
ul.image-gallery li img:hover {
    opacity:0.6
}
/*.modal-body {
    padding:5px !important;
    background-color: #004a80;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}*/
.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
    color:#fff;
}
.previous{
    color: #fff;
}
a.next:hover, a.previous:hover{
    color: #BF1313 !important;
}
/*override modal for demo only*/
/*.modal-dialog {
    max-width:500px;
    padding-top: 90px;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
        padding-top: 90px;
    }          
}*/
@media screen and (max-width:1500px){
    #ads {
        display:none;
    }
}
.default-black{
    color: #000 !important;
    font-weight: bold;
}

.your-eyes{
    width: 100%;
}
.your-eyes .content{
    padding: 10px;
}
.your-eyes .content h2{
    font-size: 20px;
    color: blue;
    text-align: left;
}
.your-eyes .content ul{
    margin: 0;
}
.your-eyes .content ul li a{
    color: #323a45;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

/*--- Eat lots ---*/
.eat-lots-wrapper{
    padding: 0;   
} 
.eat-lots-wrapper h3{
    font-size: 24px;
    color: blue;
    text-align: left;
    font-weight: bold;   
}

/*Starting of avoid wearing contact lenses */
.avoid-wrapper{
    padding: 0;   
}

/*Starting of Use allergen */
.use-allergen-wrapper{
    padding: 0;   
}

/*Starting of Use cucumber */
.use-cucumber-wrapper{
    padding: 0;   
} 

/*Starting of Wear UV protective  */
.wear-uv-wrapper{
    padding: 0;   
}

/*Starting of Wear UV protective  */
.try-wrapper{
    padding: 0;   
}

/*Starting of Wear-goggles  */
.wear-goggles{
    padding: 0;   
}

/*Starting of Exercise your eyes  */
.Exercise-wrapper{
    padding: 0;   
}


table.dataTable th{
    background-color: #F5F5F5 !important
}
.btn-xs {
    padding: 1px 5px !important;
}
.padL15{
    padding-left: 15px;
}
.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    /*width: 400px;*/
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}
.diseases-ul li a{
    color:#00008B;
}
.servises_images{
    margin-top: 65px;
    width: 60%;
}
#mobile_view_main_image{
    background:url("../images/slide1.jpg") no-repeat center center !important;
    position: relative;
}
#mobile_view_main_image h2{
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);    
}